
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup {
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    width: 100%;
    max-width: 450px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    text-align: center;
}


.signup h2 {
    font-size: 24px;
    margin-bottom: 15px; 
    color: #333;
    font-weight: bold;
    text-align: center;
}

.signup label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    margin-top: 10px;
}

.signup input {
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    margin-bottom: 10px;
}


.signup input:focus {
    border-color: #007bff;
    outline: none;
}


.signup input::placeholder {
    color: #888;
    font-size: 14px;
}


.signup button {
    width: 100%;
    padding: 10px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.signup button:hover {
    background-color: #0056b3;
}

.signup p {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 14px;
}


.signup a {
    color: #007bff;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .signup {
        padding: 15px; 
        max-width: 90%;
    }

    .signup input,
    .signup button {
        font-size: 14px;
    }

    .signup h2 {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    form{
        margin-left: 50px;
    }
    .signup {
        padding: 10px; 
    }

    .signup input,
    .signup button {
        font-size: 12px;
    }

    .signup h2 {
        font-size: 20px;
    }
}
